<h1>Stupid Coaching</h1>
<p>Ask your coach anything</p>

<form id="form" class="topBefore" action="/pages/answer">
  <input id="name" type="text" name="response">
  <input id="submit" type="submit" value="Ask!">
</form>
